/* style default */
h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
}
.background-home {
    /* background-image: url('https://i.pinimg.com/originals/6b/6d/c2/6b6dc2cf132ca0e9fc1ad397e59edb68.gif'); */
    /* background-image: url('asset/img/nft\ background.png'); */
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUSEhMWFRUXGBcVFRcVFx0VFRcVFRsZFxcVFRUYHCggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAJ8BPAMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAABAAIHA//EACYQAAEEAgIDAAIDAQEAAAAAAPAAAWFxEYGRoSFRsTFBAsHx0RL/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A5udNC1ly3hZOmlTODoI6paw5n3SydWrJu0DlyqSx+fdLB0tNoe0FnweqVr77pB0k7tAO74PVJejNLOTScm7QOPB6pOXLaFl3NWoPKBOnhP8AJzzELJ06f5aMSgHO4S7uahB9lR8QL0eYThzMQs5OZU7nEoHLm4UfIQfVMdSg1k8zCzk8xCuDMq8GpQLZNwpnOIQfZUfJQaZnNwjLlNCMnMoPiDR28Jz4/wB9NCyx3Kv1+hmlA5PPukNkqlNgu0HSDWXLpDMapTObtWTVoNeS6Q7+D1SMm0HSDbH590h3NUrjr3azlikGjulZcpDnNoyaQaO2hTs5/iju1lwygTpoTly6QdNKcsXaCZzVJZ/J7pZyatR3aBOqUd0g6tJ3aAOqSd0hzi0ndoJ3cpWXLpTuxVqdzdoJzilr+R+fbQsf8/q0ndoBzuE4OIUdPKnOpQB9hLu5qEZOZTljUoDLm4Wnc4hZycyo+Sg07ubhDnUIPspY6lBH2EHyEn2UMdSgcubhDO5qEs5zKMsalBpnOYUz+D00LJ9lR8lAucvCDqksdyo/XppQR+/dKY4pTObtDHFoFnculM/g9UrLF2j/AJ/VoNM5ukfo9Uhjm1fo9WgTukYNUtOx492snVoNHdLL/wAnKSd2p8FWgcm2hZcMJdzbSsh5Qax4/BhoU2WJpB00qyDoE6pPkulnJq1HdoHL4PVJ/ic0ss5q08D2gMmqWnOaWHOFp2N2gDqlp3culjJpaybtBHVJd3LaFl3NWo7tBMcPC07+SIWXehnlX8tGJQJ9hWDiEYOZUfJQLucwk+Qs5OZS7nEoLLm4V5NQg+pzRiUE7nMKycQh9GZUzHEoHHn/AGYVlzUIPqsnEoNMx5mEZcpoVk5lZPkoNeS3hTv4PTQpnod5RwNaBybeEOxqlNgu1HVoNM7yPSDqkM5u1ZYq0GvJdLLu5VKO7Uz+D1aDWTdIyapXA9rJ1aDTtBmlZcqlOc2s5NINn79tCPJ/ism2lZcMoNHTQpnculkPK1/6oe0FnweqSxzSxk1a1wPaByapTubpZz4/Q1pY5tAHVJO6VjwerQd2gsuVS1k3Sznx+hrU7m7QJ1S07nn20LB1ac0PaCdzTwo+Qg6eVp2PESgH/BMKfJqFlzuU5oxKBZzmE5OIWcnMqbRiUGz7CHc4hGaMyg+Sgj7CWOoVg8TKPBqUFlzcJZziEM5zKsnEoNZOYUznELLHcqycSg1k28LJ1Sc0ZlWPH+emlBMc0j9Hqk4N2ss5q0Gv4u5dKyapWTdrLHFoPRnN0jPg9UjND2h3oa0C7m6QdUnBu0OcWgXfye6RlyqUd2rJq0Gnc20IdwZGQdT6NoHzg9NCmc3SDq1Z8/o2gcmqVly6RwNa02h7QZOksc0o6tR3aAOqSd0s4NWtHdoDJqlrJull3oa05oe0Fn5/VKd3P8QdWtfy0O0oMnTwlzqEOdyp2OJQJ9hTucQjBzKnejEoHJzCnc4hGaMyk+SgHdzcKPkJfRmUOdSgdHmFMxxCD7KmY4lA5c3CGOoVmjMqZ6MSg1k5hZy5TQltGZU34IlBMdwjTjUk7eUHVoFmN0jLlUpmB1cDWgWc3SsmqQz0Pam/B6tA5cukHS02h7WTq0Dpx6QdUo7tGDVoNZcukZNUnge1nNDWg3k20LLu5/ieB2lDhlAscNCXOXhZ/R6ZTOcygs+D1Sf2e6QdWk7tBZcqksxulnPj9DWn+JzaAOqWjulk6tLnNoJ/weqUd0snVrTubtAf8/qlrLltCydWnND2gmOHhTscQhjh5S/5IlBH2EnyFk+ypjqUCfYUfIRk5lJ8lBZc3Cj5Cs0ZlDOcSgXO4UfIU53Kj5KBY7hB8hH7JlTOcSgT7Cj5CsHMoycSg0dvCMGmhGfP6Myl/wAHppQTHNKY4pR3ay5wg2d0j/n9UpnN2g6tAsc0j9Hqkndod6GtBp2PPulk6paO7WTq0GjukOcPCHObVk1aBdzbQgPCTtpQHlA5cpoUzm3hB00qZ6NoE6pOXLpH6PVpbQ9oMs5qk6M0o6tOTdoMnVLXkulnBq0uc2gMmqWsm6WM0Na1k3aCdzVKz5PdIOrWnOWlAO5p4U9HiFHTyp2OJQXk3CsnEIPsqd6MSgcnMKdziFMdyo+SgMubhLucQngzKMnEoDR5hLMcQhzuUsxxKCy5uFZOIQ7nMqZ6MSg1k5hZy5qEn2VHyUDk28LP6/Bilo7eVk6tAsxulZcqlMxu0HVoFnN0o6pH8XN2k6tBZculZ8Hqktoe0fo9WgtGaRg1SXObRg1aDTu5dLOTVJfQ9rOaGtBs7aFl3c/xac5aVlwygmOoTk28IycSpnN2gsmqWjulnga0u9D2gs+D1SmY3Szk1acm7QOPB6pTsbpB1aTu0A7mqS7m6WcmrWuB7QR1Scm2hZd/n9WrIOgjp4WnY4hZyaeVO5xKCdjmE5OIQfZU7nEoJzuEnyEcGZTk4lBZOYU51CHc5lWTiUDg5hTscQjJzKsHEoFnOYVk4hGaMypjqUCx3CsnEKycyjNGJQOYcd4V/wCfH++qQznMqyaaUDg3SP4uapODdoyatAs+v9pDHFJO7U2hrQOTdIz4PVK/9UPaydWg0zG6Vg1Snc3aMGrQP7PdIyapOTdoOrQLubaEOGE8DtKHejaCOmhOYM0g+Sl2N2gGOKWmOaWTq05N2gjqlZcukZ+f1aWObQD5KpJ3SDq0ndoB3gxSTulOxq1HdoLBqkuctCy/9f1aXc3aAc4eEu7uVCDp5S51KA8m4S7weIQ53K0fJQZ0eYS51Cj7KD5KDR9hB8hGTmUnyUFlzcIY6hJ9lDHUoHJzCGo8QljuUYOJQJ9hTHDQg+ypnOJQJ28Iy5VJY7lB00oFmBkHVJY5tTHFoLMGaQ34PVJwbtH/AD+rQaY5pB1Smc3aM+D1aB/9OXSMGqS7G7QdWgXc3SMwYpJ3aHY1aBO2hDsDJc5aVlwygf0emhLObpWIMNKmozaCOqUxzSmZ/RhpT59GbQGfB6pP8TmkM3g9Wpzm0EdUpzmkYNJw/ozaAOqWnOaRiDFpxBm0GTqk5NtCnz6MWrRm0EzmnhL/AJIhDnDypzqUFg5hB8hODmVPR4lBOdwo+QrEHmUuz+jxKAycwrJxCvPo8ypzqUC53CD5CD7KWZzUoD9kwlnOIVo8yrEHiUEfYVk4hOH9HmVnR4lA58nt4T+j00KwbeVk6tAnbwhzikt/Fy7VoxaCY5pX6PVJZoM2jD4/Bi0Ed0h3NUl6M2r9Hq0Cd0j9HqlOc2jBpAuc0hnNUtYf0ZtH6/Bi0EdtCA8LWH9GWlZd4OUH/9k=');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.background-home-pic {
    height: 540px;
    width: 1109px;
}
.btn-mainkan {
    transition: 200ms;
}
.btn-mainkan:hover {
    transform: scale(1.1);
}


/* navbar */
.navbar {
    width: 83%;
    position: fixed;
    z-index: 100;
    background: rgb(236, 236, 236);
}



/* home */
#home {
    padding-top: 70px;
    color: white;
}
.home-title {
    margin-bottom: 35px;
}



/* marketplace */
#marketplace {
    padding-top: 70px;
    color: white;
    margin-top: 100px;
}
#marketplace h1 {
    margin-bottom: 30px;
}
#marketplace .row {
    color: black;
}

/* roadmap */
#roadmap {
    padding-top: 70px;
    margin-top: 70px;
    color: white;
}
.roadmap .row .col-lg-4 .card, .roadmap .row .col-lg-4 .card .card-body .list-group .list-group-item {
    color: white;
    background: transparent;
}

/* about */
#about {
    padding-top: 70px;
    margin-top: 70px;
    color: white;
}
#about .title-about {
    margin-bottom: 30px;
}
#about .row {
    color: black;
}
#about .row .col-md-4 .card{
    margin: auto auto;
}

/* footer */
.footer {
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background: rgb(236, 236, 236);
}
.social-media {
    padding-top: 10px;
    list-style: none;
    display: flex;
}
.social-media-img {
    transition: 300ms;
    margin: 0px 5px 0px 5px;
}
.social-media-img:hover {
    margin: 0px 8px 0px 8px;
    transform: scale(1.3);
}




/* style tablet */
@media (max-width: 768px) {
    .navbar {
        width: 91%;
    }
    #marketplace .row {
        margin: 10px 10px 10px 10px;
    }
}






/* style mobile L */
@media (max-width: 425px){
    * {
        overflow-x: hidden;
    }
    /* navbar */
    .navbar {
        width: 94%;
    }


    .main-body {
        margin: 0px auto;
    }

    /* about */
    .card {
        margin: 5px auto;
    }
    #about .row .col-md-4 .card{
        margin: auto 50px 50px;
    }

    /* footer */
    .footer {
        height: 60px;
    }
}
