/* style default */
.background-home {
    /* background-image: url('../asset/img/nft\ background.png'); */
    background-image: url('https://images4.alphacoders.com/793/thumb-1920-793524.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.background-home-pic {
    height: 540px;
    width: 1109px;
}
.btn-mainkan {
    transition: 200ms;
}
.btn-mainkan:hover {
    transform: scale(1.1);
}


/* navbar */
.navbar {
    width: 83%;
    position: fixed;
    z-index: 100;
    background: rgb(236, 236, 236);
}



/* home */
#home {
    padding-top: 70px;
    color: white;
}



/* marketplace */
#marketplace {
    padding-top: 70px;
    color: white;
    margin-top: 150px;
}
#marketplace h1 {
    margin-bottom: 60px;
}
#marketplace .row {
    color: black;
}



/* about */
#about {
    padding-top: 70px;
    margin-top: 70px;
    color: white;
}
#about .row {
    color: black;
}
#about .row .col-md-4 .card{
    margin: auto auto;
}

/* footer */
.footer {
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    height: 60px;
    background: rgb(236, 236, 236);
}
.social-media {
    padding-top: 10px;
    list-style: none;
    display: flex;
}
.social-media-img {
    transition: 300ms;
    margin: 0px 5px 0px 5px;
}
.social-media-img:hover {
    margin: 0px 8px 0px 8px;
    transform: scale(1.3);
}



/* style mobile L */
@media (max-width: 425px){
    * {
        overflow-x: hidden;
    }
    /* navbar */
    .navbar {
        width: 94%;
    }


    .main-body {
        margin: 0px auto;
    }

    /* about */
    .card {
        margin: 5px auto;
    }
    #about .row .col-md-4 .card{
        margin: auto 50px 50px;
    }
}
